@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Karla", "Arial" sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
  list-style: none;
}

/*************** header styles start ****************/
.site-header {
  background-color: #fff;
  padding-top: 21px;
  padding-bottom: 19px;
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.site-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header-img {
  width: 111px;
  height: 10px;
}

.site-header-end {
  display: flex;
  align-items: center;
}

.site-nav-list {
  display: flex;
  justify-content: space-between;
  width: 268px;
  margin-right: 33px;
}

.site-nav-link {
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 1.5px;
  color: #837d88;
}

.site-header-btn {
  padding: 12.5px 28.5px;
  background-color: #fff;
  border: 1.5px solid #2c2830;

}
/*************** header styles end ****************/
